src/main/java/webservice/autogeneratedXml/SMSGW_MTSend.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="SendMT">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="phoneNum" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="acNum" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="smsMsg" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="requestor" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="requesPassword" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="requestBranch" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendMTResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="SendMTResult" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendMTFull">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="rqID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="phoneNum" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="acNum" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="smsMsg" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="requestor" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="requesPassword" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="requestBranch" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="ipriority" type="s:int" />
                        <s:element minOccurs="0" maxOccurs="1" name="groupMsg" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="tplCode" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendMTFullResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SendMTFullResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendSMSQueue">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="smsqueueID" type="s:long" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendSMSQueueResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="SendSMSQueueResult" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendCustomEmail">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="emailTo" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="emailSub" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="emailBody" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="appRequest" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="appPassword" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendCustomEmailResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="SendCustomEmailResult" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="SendMTSoapIn">
        <wsdl:part name="parameters" element="tns:SendMT" />
    </wsdl:message>
    <wsdl:message name="SendMTSoapOut">
        <wsdl:part name="parameters" element="tns:SendMTResponse" />
    </wsdl:message>
    <wsdl:message name="SendMTFullSoapIn">
        <wsdl:part name="parameters" element="tns:SendMTFull" />
    </wsdl:message>
    <wsdl:message name="SendMTFullSoapOut">
        <wsdl:part name="parameters" element="tns:SendMTFullResponse" />
    </wsdl:message>
    <wsdl:message name="SendSMSQueueSoapIn">
        <wsdl:part name="parameters" element="tns:SendSMSQueue" />
    </wsdl:message>
    <wsdl:message name="SendSMSQueueSoapOut">
        <wsdl:part name="parameters" element="tns:SendSMSQueueResponse" />
    </wsdl:message>
    <wsdl:message name="SendCustomEmailSoapIn">
        <wsdl:part name="parameters" element="tns:SendCustomEmail" />
    </wsdl:message>
    <wsdl:message name="SendCustomEmailSoapOut">
        <wsdl:part name="parameters" element="tns:SendCustomEmailResponse" />
    </wsdl:message>
    <wsdl:portType name="MTSendSoap">
        <wsdl:operation name="SendMT">
            <wsdl:input message="tns:SendMTSoapIn" />
            <wsdl:output message="tns:SendMTSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="SendMTFull">
            <wsdl:input message="tns:SendMTFullSoapIn" />
            <wsdl:output message="tns:SendMTFullSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="SendSMSQueue">
            <wsdl:input message="tns:SendSMSQueueSoapIn" />
            <wsdl:output message="tns:SendSMSQueueSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="SendCustomEmail">
            <wsdl:input message="tns:SendCustomEmailSoapIn" />
            <wsdl:output message="tns:SendCustomEmailSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MTSendSoap" type="tns:MTSendSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="SendMT">
            <soap:operation soapAction="http://tempuri.org/SendMT" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendMTFull">
            <soap:operation soapAction="http://tempuri.org/SendMTFull" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendSMSQueue">
            <soap:operation soapAction="http://tempuri.org/SendSMSQueue" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendCustomEmail">
            <soap:operation soapAction="http://tempuri.org/SendCustomEmail" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MTSendSoap12" type="tns:MTSendSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="SendMT">
            <soap12:operation soapAction="http://tempuri.org/SendMT" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendMTFull">
            <soap12:operation soapAction="http://tempuri.org/SendMTFull" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendSMSQueue">
            <soap12:operation soapAction="http://tempuri.org/SendSMSQueue" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendCustomEmail">
            <soap12:operation soapAction="http://tempuri.org/SendCustomEmail" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MTSend">
        <wsdl:port name="MTSendSoap" binding="tns:MTSendSoap">
            <soap:address location="http://10.36.31.3/BankSMSGW/MTSend.asmx" />
        </wsdl:port>
        <wsdl:port name="MTSendSoap12" binding="tns:MTSendSoap12">
            <soap12:address location="http://10.36.31.3/BankSMSGW/MTSend.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>